{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
<div class="container">
    <div class="calculator-container">
        <div class="input-section">
            <h2>Pattern Calculator: <small style="color: lightgray;">Fill all of the boxes</small></h2>
            <form id="calculatorForm">
                <div class="input-group">
                    <div class="input-label-group">
                        <label for="operation">Operation:</label>
                    </div>
                    <select id="operation">
                        <option value="add_sub">Addition/Subtraction | Arithmetic</option>
                        <option value="mult_div">Multiplication/Division | Geometric</option>
                    </select>
                </div>

                <div class="input-group">
                    <div class="input-label-group">
                        <label for="firstTerm">First number in the sequence:</label>
                        <button type="button" class="clear-single-btn" data-target="firstTerm">
                            <i data-feather="trash-2"></i>
                        </button>
                    </div>
                    <input type="number" id="firstTerm" step="0.001">
                </div>

                <div class="input-group">
                    <div class="input-label-group">
                        <label for="secondTerm">Second number in the sequence:</label>
                        <button type="button" class="clear-single-btn" data-target="secondTerm">
                            <i data-feather="trash-2"></i>
                        </button>
                    </div>
                    <input type="number" id="secondTerm" step="0.001">
                </div>

                <div class="input-group">
                    <div class="input-label-group">
                        <label for="lastTerm">Term you're skipping to (n):</label>
                        <button type="button" class="clear-single-btn" data-target="lastTerm">
                            <i data-feather="trash-2"></i>
                        </button>
                    </div>
                    <input type="number" id="lastTerm" step="0.001">
                </div>

                <div class="button-group">
                    <button type="Submit" class="generate-btn">Calculate</button>
                    <button id="clearButton" class="clear-btn">Clear Boxes</button>
                </div>
            </form>

            <div id="error-message" class="error-message"></div>
        </div>

        <div class="results-section">
            <h3>Results:</h3>
            <div id="calculated-values"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/feather-icons"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    feather.replace();
</script>
{% endblock %}